name: Publish FNB Release

on:
  push:
    tags:
      - 'flutter_nekoton_bridge-v*'

permissions:
  contents: write

jobs:
  publish_github_release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Create GitHub release
        uses: softprops/action-gh-release@v2

  publish_pub_release:
    needs: publish_github_release
    runs-on: ubuntu-latest
    permissions:
      id-token: write # This is required for authentication using OIDC

    steps:
      - uses: actions/checkout@v4
      - uses: dart-lang/setup-dart@v1
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.4'
          channel: 'stable'
          cache: true
          cache-key: flutter-:os:-:channel:-:version:-:arch:-:hash:-${{ hashFiles('**/pubspec.lock') }}
      - uses: bluefireteam/melos-action@v3
      - name: Dry-run publish to pub.dev
        run: melos publish -y --dry-run --scope="flutter_nekoton_bridge"
      - name: Publish to pub.dev
        run: melos publish -y --no-dry-run --scope="flutter_nekoton_bridge"
